{% extends "media-gallery/base.html" %}

{% block extra-style %}
<link rel="stylesheet" href="{{ STATIC_URL }}Impromptu/css/default.css">
{% endblock extra-style %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<ul class="thumbnails">
{% for gallery in galleries %}
    <li class=".span3">
    <div class="thumbnail">
        <a class="edit" href="{% url "gallery-edit" gallery.pk %}">
            <img src="{{ gallery.thumbnail.url }}" width="{{ gallery.thumbnail.width }}" height="{{ gallery.thumbnail.height }}" />
        </a>
        <h3 style="text-align: center;">{{ gallery.name }}</h3>
        <a title="Delete ?" rel="tooltip" class="delete" href="{% url "gallery-delete" gallery.pk %}"><i class="icon-trash"></i></a>
    </div>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}Impromptu/js/jquery-impromptu.4.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
<script type="text/javascript">
    $(".thumbnail a.delete").click(function (event) {
        event.preventDefault();
        var atag = $(this);
        var link = atag.attr("href");
        $.prompt("Do you really want to delete this gallery ?", {
            buttons: { Yes: 1, No: 0 },
            submit:function(e,v,m,f){
                if(v===0){
                    $.prompt.close();
                }
                else if(v===1){
                    $.getJSON(link, function(data) {
                        if(data===0){
                            html = '<div class="alert alert-error"><button class="close" data-dismiss="alert">×</button>Oops something went wrong, gallery was not deleted.</div>'
                        }
                        else{
                                html = '<div class="alert alert-success"><button class="close" data-dismiss="alert">×</button>Your gallery has been deleted successfully.</div>'
                                atag.parent('div').parent('li').remove()
                            }
                        $(html).prependTo($('.container'));
                    });
                    return true;
                }
            }
        });
    });
</script>
{% endblock js %}