{% extends "media-gallery/base.html" %}
{% load thumbnail %}
{% block extra-style %}
<link rel="stylesheet" href="{{ STATIC_URL }}Impromptu/css/default.css">
<link rel="stylesheet" href="{{ STATIC_URL }}iphone-style-checkboxes/css/style.css">
{% endblock extra-style %}
{% block title %}Edit a Gallery{% endblock %}
{% block content %}
<form action="" class=".form-vertical" method="post">{% csrf_token %}
    <fieldset>
        {% for field in form %}
        <div {% if field.label|lower == "password" and not gallery.lock and not field.errors %}style="display:none;"{% endif %}class="control-group {{ field.label|lower }} {% if field.errors %}error{% endif %}">
            {{ field.label_tag }}
            <div class="controls">
                {{ field }}
                {{ field.errors }}
            </div>
            {% if field.help_text %}
            <p class="help-block">{{ field.help_text }}</p>
            {% endif %}
        </div>
        {% endfor %}
  </fieldset>
    <input type="submit" class="btn btn-large btn-primary" value="Done" />
</form>
{% if not gallery.published %}
<p>Preview your gallery here</p>
{% else %}
<p>View your gallery live !!!</p>
{% endif %}
<a href="{% url media-gallery gallery.collection.slug gallery.slug %}">{{ gallery.name }}</a>
<ul class="thumbnails">
{% for picture in gallery.pictures.get_files %}
{% thumbnail picture.file "200x200" crop="center" as im %}
    <li class=".span3">
    <div class="thumbnail">
        <a href="{% url gallery-delete-image gallery.slug picture.pk %}"><i class="icon-trash"></i></a>
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
    </div>
    </li>
{% endthumbnail %}
{% endfor %}
</ul>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}jQuery-Slugify-Plugin/jquery.slugify.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}Impromptu/js/jquery-impromptu.4.0.min.js"></script>
<script src="{{ STATIC_URL }}iphone-style-checkboxes/js/iphone-style-checkboxes.js" type="text/javascript"></script>
<script type="text/javascript"> 
    $(document).ready(function (){ 
        $('#id_published').iphoneStyle({
            onChange: function(elem, value) {
                $.getJSON("{% url gallery-publish gallery.slug %}", {publish:value.toString()});
            }
        });
        $('#id_lock').iphoneStyle({
            onChange: function(elem, value) {
                var val = value.toString();
                if (val === 'true'){
                    $(".control-group.password").show("fast");
                }
                else{
                    $(".control-group.password").hide("fast");
                }

            },
            checkedLabel: 'Yes',
            uncheckedLabel: 'No'
        });
    }); 
</script>
<script type="text/javascript">
    $('#id_slug').slugify('#id_name');
    $(".thumbnail a").click(function (event) {
        event.preventDefault();
        var atag = $(this);
        var link = atag.attr("href");
        $.prompt("Do you really want to delete this image ?", {
            buttons: { Yes: 1, No: 0 },
            submit:function(e,v,m,f){
                if(v===0){
                    $.prompt.close();
                }
                else if(v===1){
                    $.getJSON(link, function(data) {
                        if(data===0){
                            html = '<div class="alert alert-error"><button class="close" data-dismiss="alert">×</button>Oops something went wrong, image was not deleted.</div>'
                        }
                        else{
                                html = '<div class="alert alert-success"><button class="close" data-dismiss="alert">×</button>Your image has been deleted successfully.</div>'
                                atag.parent('div').parent('li').remove()
                            }
                        $(html).prependTo($('.container'));
                    });
                    return true;
                }
            }
        });
    });
</script>
{% endblock js %}